@CHARSET "UTF-8";

/* typography styles */

body
{
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;	
}

.well .page-header
{
	margin-top: 0;
	margin-bottom: 0;
}

.well .page-header .h1
{
	margin-top: 0;
}

.well .lead
{
	margin-top: 0;
}

.col-sm-4 .panel
{
	margin-top:20%;
	 margin-bottom: 30%;
}

/* layout */

.navbar-default
{
	background-color: #2C3E50;
	border-color: #FFFFFF;
	color: #FFFFFF;	
}

.navbar-default .navbar-brand
{
	color: #FFFFFF;
}

.navbar-inner
{
  background: none;	
}

